*,
*::after,
*::before{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: snow;
}
.appContainer{
  width: 55%;
  margin: 0 auto;
  margin-top: 150px;
}
.inputForm{
  display: flex;
}
.inputThought{
  width: 95%;
  height: 2rem;
  padding: 1rem;
  border-radius: 0.25rem;
}
.thoughtContainer{
  margin-top: 1rem;
}
.thoght{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  border: 1px solid black;
  border-radius: .25rem;
  margin-bottom: .5rem;
}
.thoght p{
  line-height: 0;
}

